<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="zyy-resource-rpc-service"/>

    <dubbo:registry address="zookeeper://zkserver:2181"/>

    <dubbo:protocol name="dubbo" port="20882"/>

    <!--<dubbo:monitor protocol="registry"/>-->

    <!-- 服务
    <bean id="cmsArticleServiceImpl" class="com.zheng.cms.rpc.service.impl.CmsArticleServiceImpl"/>
    <dubbo:service interface="com.zheng.cms.rpc.api.CmsArticleService" ref="cmsArticleServiceImpl" timeout="10000"/>
    -->


</beans>