* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  height: 100%;
}
body {
  font-size: 12px;
  width: 100%;
  height: 100%;
}
@keyframes bgMove {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes mymove {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 0, 0);
    -webkit-transform: scale(0.5) translate3d(0, 0, 0);
    -moz-transform: scale(0.5) translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(-200px, 200px, 0);
    -webkit-transform: translate3d(-200px, 200px, 0);
    -moz-transform: translate3d(-200px, 200px, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1.2) translate3d(-300px, 300px, 0);
    -webkit-transform: scale(1.2) translate3d(-300px, 300px, 0);
    -moz-transform: scale(1.2) translate3d(-300px, 300px, 0);
  }
}
#stars {
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.star {
  display: block;
  width: 1px;
  background: transparent;
  position: relative;
  opacity: 0;
  /*过渡动画*/
  animation: star-fall 6s linear infinite;
  -webkit-animation: star-fall 6s linear infinite;
  -moz-animation: star-fall 6s linear infinite;
}
.star:after {
  content: '';
  display: block;
  border: 0px solid #fff;
  border-width: 0px 90px 2px 90px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  /*变形*/
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1);
  transform: rotate(-45deg) translate3d(1px, 3px, 0);
  -webkit-transform: rotate(-45deg) translate3d(1px, 3px, 0);
  -moz-transform: rotate(-45deg) translate3d(1px, 3px, 0);
  transform-origin: 0% 100%;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
}
@keyframes star-fall {
  0% {
    opacity: 0;
    transform: scale(0.5) translate3d(0, 0, 0);
    -webkit-transform: scale(0.5) translate3d(0, 0, 0);
    -moz-transform: scale(0.5) translate3d(0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translate3d(-200px, 200px, 0);
    -webkit-transform: translate3d(-200px, 200px, 0);
    -moz-transform: translate3d(-200px, 200px, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1.2) translate3d(-300px, 300px, 0);
    -webkit-transform: scale(1.2) translate3d(-300px, 300px, 0);
    -moz-transform: scale(1.2) translate3d(-300px, 300px, 0);
  }
}
.toRight {
  background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
#login {
  min-width: 1024px;
  max-width: 1920px;
  height: 100%;
  animation: bgMove 30s linear infinite;
  -webkit-animation: bgMove 30s linear infinite;
  -moz-animation: bgMove 30s linear infinite;
  position: relative;
  margin: 0 auto;
  background: url("../images/background.jpg") no-repeat 0 0;
  transition: all 0.3s ease;
  background-size: 100%;
}
#login .login-h {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  position: relative;
}
#login .login-h .login-h-l {
  position: absolute;
  left: 65px;
  top: 30px;
}
#login .login-h .login-h-l .login-h-l-l {
  width: 325px;
  height: 64px;
}
#login .login-h .login-h-l .login-h-l-l img {
  width: 100%;
  height: 100%;
}
#login .login-h .login-h-e {
  position: absolute;
  right: 60px;
  top: 30px;
}
#login .login-h .login-h-e .login-h-e-i:hover {
  cursor: pointer;
}
#login .login-h .login-h-e .login-h-e-t {
  width: 100%;
  text-align: center;
  color: #fff;
}
#login .login-c {
  position: fixed;
  z-index: 9999;
  width: 600px;
  height: 600px;
  background: url("../images/login-layer.png") no-repeat 0 0;
  background-size: 100%;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -300px;
}
#login .login-c .login-c-m {
  position: relative;
  width: 250px;
  height: 120px;
  top: 230px;
  left: 178px;
}
#login .login-c .login-c-m .login-c-m-h {
  width: 100%;
  position: absolute;
  top: -24px;
}
#login .login-c .login-c-m .login-c-m-h span {
  display: block;
  position: absolute;
  left: 50%;
  top: 8px;
  width: 20px;
  border-top: 1px solid #fff;
}
#login .login-c .login-c-m .login-c-m-h .line-l {
  margin-left: -38px;
}
#login .login-c .login-c-m .login-c-m-h .line-r {
  margin-left: 18px;
}
#login .login-c .login-c-m .login-c-m-h p {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
#login .login-c .login-c-m .login-c-m-u {
  width: 250px;
  height: 35px;
  background: url("../images/input-bg.png") no-repeat 0 0;
  background-size: 100%;
}
#login .login-c .login-c-m .login-c-m-u input {
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
  line-height: 35px;
  border: none;
  background: none;
  outline: none;
  padding-left: 40px;
  color: #666;
  background: url("../images/flag.png") no-repeat 16px 10px;
}
#login .login-c .login-c-m .login-c-m-p {
  width: 250px;
  height: 35px;
  margin-top: 5px;
  background: #000;
  background: url("../images/input-bg.png") no-repeat 0 0;
  background-size: 100%;
}
#login .login-c .login-c-m .login-c-m-p input {
  padding-left: 40px;
  color: #666;
  border: none;
  background: none;
  outline: none;
  line-height: 35px;
  background: url("../images/flag.png") no-repeat 16px -32px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
}
#login .login-c .login-c-m .login-c-m-b {
  width: 250px;
  height: 30px;
  margin-top: 5px;
  background-size: 100%;
}
#login .login-c .login-c-m .login-c-m-b input {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 242px;
  height: 30px;
  background: rgba(10, 205, 157, 0.9);
  outline: none;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
}
#login .login-c .login-c-m .login-c-m-b input:hover {
  background: rgba(10, 205, 157, 0.7);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
#login .login-c .login-c-m .login-c-m-alert {
  padding-left: 18px;
  height: 30px;
  line-height: 30px;
}
#login .login-f {
  position: absolute;
  bottom: 44px;
  width: 100%;
  color: #f9fefc;
  height: 24px;
  line-height: 24px;
}
#login .login-f p {
  width: 100%;
  text-align: center;
}
input[type=checkbox].checkbix:checked+label>span:before{box-sizing: content-box;}